<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <!-- Define your Beans here -->
    <bean id="myPizzeriaSplit"
          class="com.agency04.sbss.pizza.PizzeriaSplit">
        <property name="name" value="Pizzeria Split"/>
        <property name="address" value="Vukovarska ulica 15"/>
    </bean>

    <bean id="myDeliverySplit"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
        <constructor-arg ref="myPizzeriaSplit"/>
    </bean>

    <bean id="myPizzeriaZagreb"
          class="com.agency04.sbss.pizza.PizzeriaZagreb">
        <property name="name" value="${foo.name}"/>
        <property name="address" value="${foo.address}"/>
    </bean>

    <bean id="myDeliveryZagreb"
        class="com.agency04.sbss.pizza.PizzaDeliveryService">
        <property name="pizzeriaService" ref="myPizzeriaZagreb"/>
    </bean>
</beans>